<phpunit bootstrap="./bootstrap.php">    
    <testsuites>
        <testsuite>
            <directory>./Aura/Signal</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
